/*
@brand-primary:         #157800; 
@brand-secondary:		#4AD40C;
@brand-complementary: 	#7F005E;
@brand-complementary-secondary: #C40091;

@gray-brand: 			#e5e5e5;

@gray-lighter:           lighten(@gray-base, 93.5%); // #eee
*/

/************* styles.less */

h1, h2, h3, h4, h5, h6{color: #157800;}

article,
#respond,
.pingback .comment-body, .trackback .comment-body{ 
	background: linear-gradient(to bottom, white, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
  	border: 1px solid #e5e5e5;
}
	article a,
	#respond a,
	.pingback .comment-body a, .trackback .comment-body a{
		color: #4AD40C;
	}
	article a:hover,
	#respond a:hover,
	.pingback .comment-body a:hover, .trackback .comment-body a:hover{
		color: #157800;
		}
	article small a,
	#respond small a{
			color: #7F005E;
	}
	article small a:hover,
	#respond small a:hover{
				color:  #C40091;
			}

	article nav small a,
	#respond nav small a{
				color:#157800;
	}
	article nav small a:hover,
	#respond nav small a:hover{
					color:  #4AD40C;
				}

	body.blog article small.readmore a, 
	body.archive article small.readmore a, 
	body.search article small.readmore a{
		color: #4AD40C;
	}

	code{color: #157800;}

	/*Sticky*/
	section#sticky a,
	article.sticky  a{
		color: #7F005E; /*@brand-complementary:*/
	}

	section#sticky a:hover,
	article.sticky  a:hover{
		color: #C40091; /*@brand-complementary-secondary:*/
	}

	/*Sticky post*/
	section#sticky .metas small a, 
	article.sticky .metas small a{
		color: #4AD40C;
	}
	section#sticky .metas small a:hover,
	section#sticky .metas small a:focus,
	article.sticky .metas small a:hover,
	article.sticky .metas small a:focus{
		color: #157800; /*@brand-primary: */
	}


	body.blog article.sticky small.readmore a, 
	body.archive article.sticky small.readmore a, 
	body.search article.sticky small.readmore a{
		color: #7F005E; /*@brand-complementary: */
	}

/************* footer.less */

footer#pageFooter{
	background-color: #eee;
}
	footer#pageFooter a{
		color: #4AD40C;
	}

/************* form.less */

button:not([type="image"]), input[type="submit"]:not([type="image"]),
.btn-default,
.form-submit input{
	background-color: #4AD40C;
  	border: 1px solid #4AD40C;
	color: #e5e5e5;
}

button:hover, input:hover[type="submit"]:hover,
button:focus, input:focus[type="submit"]:focus,
.btn-default:hover,
.form-submit input:hover{
	background-color: #157800;
  	border: 1px solid #157800;
}
textarea{
	border: 1px solid #e5e5e5;
}
label{
	color: #157800;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
	border: 1px solid #157800;
	box-shadow: 0px 1px 2px #157800;
}

/************* header.less */

header#header h1{
			margin-top: 10px;
}
	header#header h1 a{
				color: #4AD40C;
	}
				header#header h1 a:hover{
					color: #157800;
				}
	header#header h2 a{
				color: #4AD40C;
	}
				header#header h2 a:hover{
					color: #157800;
				}

/************* nav.less */

nav#top-menu.navbar-default{
			background-color: #EEE;
		}
			nav#top-menu.navbar-default .topSocials a{
					color: #157800;
				}
					nav#top-menu.navbar-default .topSocials a:hover{
						color: #4AD40C;
					}

	nav.navbar-default{
		background-color: #157800;
	}
		nav.navbar-default .navbar-nav > li > a{
			color: #e5e5e5;
		}
		nav.navbar-default .navbar-nav > .active > a, 
		nav.navbar-default .navbar-nav > .active > a:hover, 
		nav.navbar-default .navbar-nav > .active > a:focus{
			background-color: transparent;
			color: #4AD40C;
		}
		nav.navbar-default .navbar-nav > .open > a, 
		nav.navbar-default .navbar-nav > .open > a:hover, 
		nav.navbar-default .navbar-nav > .open > a:focus{
			background-color: transparent;
			color: #4AD40C;
		}
		nav.navbar-default .dropdown-menu > li > a{
			color: #157800;
		}
		nav.navbar-default .dropdown-menu > .active > a, 
		nav.navbar-default .dropdown-menu > .active > a:hover, 
		nav.navbar-default .dropdown-menu > .active > a:focus{
			color: #157800;
			background-color: transparent;
		}

/************* sidebar.less */


/* Main sidebar - right */
.sidebar{
	background: linear-gradient(to bottom, white, #e5e5e5) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #e5e5e5;
}
	.sidebar ul li a{
			color: #4AD40C;
			}
	.sidebar h3{
		color: #157800;
	}

.sidebar-footer{
	color: #157800;
}


/************* slider.less */

.carousel .carousel-control{ /*.carousel-indicators li */
		color: #7F005E;
	}
.carousel .carousel-caption h2 a{
				color: #7F005E;
			}
.carousel .carousel-caption h2 a:hover{
					color: #C40091;
			}
	.carousel .carousel-indicators li{
			border-color: #7F005E;	
		}
			.carousel .carousel-indicators li.active{
				background-color: #7F005E;
			}

/************* wp-core.less */

/* TODO: Find out and style these classes*/
.bypostauthor{color: #157800}
.wp-caption{color: #157800}
.wp-caption-text{color: #157800}
.gallery-caption{color: #157800}


/* End WP Core class */